* {
	padding: 0;
	margin: 0;
	font-size: 16rem;
}

body {
	font-family: sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	user-select: none;
}

a {
	color: dodgerblue;
}

.root {
	* {
		box-sizing: border-box;
	}

	display: flex;
	justify-content: center;

	> .panel {
		width: 400rem;

		.head {
			background: lightcyan;
		}

		> .panel {
			> .head {
				background: honeydew;
			}

			> .panel {
				> .head {
					background: ivory;
				}
			}
		}
	}
}

.panel {
	margin: 4rem;
	border: 1px solid black;

	.head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 8rem;
		border-bottom: 1px solid black;
	}

	.body {
		padding: 4rem;

		button, input, p {
			outline: none;
			border: none;
			padding: 8rem;
			display: block;
			width: 100%;
		}

		button {
			background: dodgerblue;
			color: white;

			&:disabled {
				opacity: 0.2;
			}
		}

		input {
			border: 1px solid #ddd;
			margin-bottom: 4rem;
			background: #f3f3f3;

			&::placeholder {
				color: black;
				opacity: 0.2;
			}

			&.warning {
				background: yellow;
			}

			&.ok {
				background: lightgreen;
			}
		}

		p {
			margin-bottom: 4rem;

			&.error {
				text-align: center;
				background: tomato;
				color: white;
			}
		}

		ul {
			li {
				margin-left: 20rem;
			}
		}
	}
}
