.game {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: honeydew;
	box-sizing: border-box;

	$tray: 120px;
	$large: 172px; //188px;
	$small: 52px; //68px;

	.table {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		.tray {
			display: flex;
			flex-wrap: wrap;
			flex-basis: $tray;
			justify-content: center;
			align-items: center;
			background: rgba(0, 0, 0, 0.05);

			&.hidden {
				flex-basis: $small;
				background: rgba(0, 0, 0, 0.2);
			}
		}

		.top, .left, .right, .bottom, .center {
			position: absolute;
			display: flex;
			justify-content: center;
		}

		.top, .bottom, .center, .wall {
			flex-direction: column;

			.tray {
				flex-direction: row;
				width: 100%;
			}
		}

		.left, .right {
			flex-direction: row;

			.tray {
				flex-direction: column;
				height: 100%;

				&.hidden {
					width: 74px;
				}
			}
		}

		.center {
			top: $large;
			left: $large;
			bottom: 240px;
			right: $large;
			margin: 10px;
			border: 1px dashed black;

			.tray {
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
			}
		}

		.wall {
			position: absolute;
			bottom: 0;
			right: 10px;
			height: 210px;
			width: $large - 20;
			background: lighten(firebrick, 20%);

			&:before {
				content: '';
				border-top: 20px dashed lighten(firebrick, 20%);
				position: absolute;
				width: $large - 20;
				top: -20px;
			}

			.tray {
				height: 100%;
				background: transparent;
			}

			.vectile {
				&:before {
					content: '?';
					font-size: 30px;
					font-family: serif;
					font-weight: bolder;
					color: firebrick;
				}
			}
		}

		.exit {
			display: flex;
			position: absolute;
			bottom: 0;
			right: left;
			height: 240px;
			width: $large;
			background: ivory;
			color: lightgrey;
			font-size: 100px;
			cursor: default;
			transform: scale(-1, 1);
			justify-content: center;
			align-items: center;

			&:hover {
				background: dodgerblue;
				color: ivory;
			}
		}

		.top {
			top: 0;
			left: $large;
			right: $large;
			height: $large;
			background: yellow;
		}

		.left {
			top: $large;
			left: 0px;
			bottom: 240px;
			width: $large;
			background: pink; // crimson;
		}

		.right {
			top: $large;
			right: 0px;
			bottom: 240px;
			width: $large;
			background: lightblue;
		}

		.bottom {
			bottom: 0;
			left: $large;
			right: $large;
			height: 240px;
			background: darkseagreen;

			.tray:last-child {
				background: rgba(0, 0, 0, 0.2);
			}
		}

		.nameTag {
			position: absolute;
			z-index: 2;
			top: 0px;
			left: 0px;
			padding: 4px;
			background: rgba(0, 0, 0, 0.7);
			opacity: 0.3;
			color: white;
			font-size: 10px;
		}
	}
}
