.game {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: honeydew;
	box-sizing: border-box;

	$tray: 120px;
	// $large: 172px; //188px;
	$small: 30px; //68px;
	$large: $tray + $small; //188px;

	.table {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		// width: 1024px;
		// height: 768px;

		.tray {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			flex-basis: $tray;
			justify-content: center;
			align-items: center;
			background: rgba(0, 0, 0, 0.05);

			&.hidden {
				flex-basis: $small;
				background: rgba(0, 0, 0, 0.2);

				// &.tray-exceeds-max-tiles {
				// 	background: red;
				// }
			}
		}

		.top, .left, .right, .bottom, .center {
			position: absolute;
			display: flex;
			justify-content: center;
		}

		.top, .bottom, .center, .wall {
			flex-direction: column;

			.tray {
				flex-direction: row;
				width: 100%;
			}
		}

		.left, .right {
			flex-direction: row;

			.tray {
				flex-direction: column;
				height: 100%;

				&.hidden {
					width: 37px;
				}
			}
		}

		.center {
			top: $large;
			left: $large;
			bottom: 240px;
			right: $large;
			box-shadow: inset 0 0 5px grey;

			.tray {
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
			}
		}

		.wall {
			position: absolute;
			bottom: 0;
			right: 10px;
			height: 210px;
			width: $large - 20;
			background: lighten(black, 90%);

			&:before {
				content: '';
				border-top: 20px dashed lighten(black, 90%);
				position: absolute;
				width: $large - 20;
				top: -20px;
			}

			.tray {
				height: 100%;
				background: transparent;
			}

			.vectile {
				.tile-graphic {
					&:before {
						content: '?';
						font-size: 30px;
						font-family: serif;
						font-weight: bolder;
						color: firebrick;
					}
				}
			}
		}

		.exit {
			display: flex;
			position: absolute;
			bottom: 0;
			right: left;
			height: 240px;
			width: $large;
			background: ivory;
			color: lighten(black, 90%);
			font-size: 100px;
			cursor: default;
			transform: scale(-1, 1);
			justify-content: center;
			align-items: center;

			&:hover {
				background: dodgerblue;
				color: ivory;
			}
		}

		.top {
			top: 0;
			left: $large;
			right: $large;
			height: $large;
			background: yellow;
		}

		.left {
			top: 0; //$large;
			left: 0px;
			bottom: 240px;
			width: $large;
			background: pink; // crimson;
		}

		.right {
			top: 0; //$large;
			right: 0px;
			bottom: 240px;
			width: $large;
			background: lightblue;
		}

		.bottom {
			bottom: 0;
			left: $large;
			right: $large;
			height: 240px;
			background: darkseagreen;

			.tray:last-child {
				background: rgba(0, 0, 0, 0.2);

				&.tray-exceeds-max-tiles {
					background: red;
				}
			}
		}

		.name-tag {
			position: absolute;
			z-index: 2;
			top: 0px;
			left: 0px;
			padding: 4px;
			background: rgba(0, 0, 0, 0.5);
			opacity: 0.5;
			font-size: 10px;
			cursor: default;
			color: white;
		}

		.tile-count {
			position: absolute;
			z-index: 2;
			top: 0px;
			left: 0px;
			padding: 4px;
			color: black;
			opacity: 0.5;
			background: white;
			font-size: 10px;
			display: none;
			width: 20px;
		}

		// .hidden {
		// 	.tile-count {
		// 		display: block;
		// 	}
		// }
	}
}
