.center {
	$large: 150px;

	position: absolute;
	top: $large;
	left: $large;
	bottom: 240px;
	right: $large;
	box-shadow: inset 0 0 5px grey;

	.tray {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}

	.transit-area {
		position: absolute;
		z-index: 3;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		pointer-events: none;

		.transit {
			position: absolute;
			pointer-events: all;

			.tray {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}

			&.transit-0 {
				height: 60px;
				width: 140px;
				bottom: 0;
				left: 50%;
				margin-left: -70px;
			}

			&.transit-1 {
				height: 140px;
				width: 60px;
				left: 0;
				top: 50%;
				margin-top: -70px;
			}

			&.transit-2 {
				height: 60px;
				width: 140px;
				top: 0;
				left: 50%;
				margin-left: -70px;
			}

			&.transit-3 {
				height: 140px;
				width: 60px;
				right: 0;
				top: 50%;
				margin-top: -70px;
			}
		}
	}
}