.chair {
	$large: 150px;

	position: absolute;
	display: flex;
	justify-content: center;

	&.chair-top,
	&.chair-player {
		.tray {
			flex-direction: row;
			width: 100%;
		}
	}

	&.chair-left,
	&.chair-right {
		.tray {
			flex-direction: column;
			height: 100%;
		}
	}

	&.chair-top,
	&.chair-left,
	&.chair-right {
		.tray {
			&:first-child {
				background: rgba(0, 0, 0, 0.2);
				flex-basis: 30px;
			}
		}
	}

	&.chair-a {
		background: lightyellow;
	}

	&.chair-b {
		background: lightpink;
	}

	&.chair-c {
		background: lightblue;
	}

	&.chair-d {
		background: darkseagreen;
	}

	&.chair-top {
		flex-direction: column;
		top: 0;
		left: $large;
		right: $large;
		height: $large;
	}

	&.chair-left {
		flex-direction: row;
		top: 0;
		left: 0;
		bottom: 240px;
		width: $large;
	}

	&.chair-right {
		flex-direction: row-reverse;
		top: 0;
		right: 0;
		bottom: 240px;
		width: $large;
	}

	&.chair-player {
		flex-direction: column-reverse;
		bottom: 0;
		left: $large;
		right: $large;
		height: 240px;

		.tray {
			&:first-child {
				background: rgba(0, 0, 0, 0.2);
			}
		}
	}

	.player {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 10px;
		padding: 3px 5px;
		color: white;
		background: green;
		opacity: 1;

		&.player-unseated {
			background: black;
			opacity: 0.2;
		}
	}
}