.tray {
	position: relative;
	display: flex;
	flex-basis: 120px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: rgba(0, 0, 0, 0.05);
}

.tile-count {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px;
	background: black;
	color: white;
	font-size: 10px;
	opacity: 0.5;

	&.tile-count-overflow {
		background: red;
	}
}