.wall {
	position: absolute;
	bottom: 0;
	height: 200px;
	width: 140px;
	background: lighten(black, 90%);

	&:before {
		content: '';
		border-top: 20px dashed lighten(black, 90%);
		position: absolute;
		width: 140px;
		top: -20px;
	}

	&.wall-begin {
		left: 10px;
	}

	&.wall-end {
		right: 10px;
	}

	.tray {
		height: 210px;
		margin-top: -30px;
		background: transparent;
	}

	.tile {
		.tile-graphic {
			&:before {
				content: '?';
				font-size: 30px;
				font-family: serif;
				font-weight: bolder;
				color: firebrick;
			}
		}
	}
}