@import './ss-variables.scss';

$radius: 20rem;
$color-red: #ff4136;
$color-orange: #ff851b;
$color-yellow: #ffdc00;
$color-smoke: rgba(0, 0, 0, 0.3);

.chair {
	position: absolute;
	overflow: hidden;
	box-sizing: border-box;
	background-color: wheat;//$color-smoke;
	box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);

	.trays {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: space-evenly;

		.tray {
			flex-grow: 1;

			&:first-child {
				background: $color-smoke;
			}
		}
	}

	&.chair-left,
	&.chair-right {
		top: $largeTray;
		bottom: $largeTray;
		width: $largeTray;

		.tray {
			flex-direction: column;
		}
	}

	&.chair-top,
	&.chair-player {
		left: $largeTray;
		right: $largeTray;
		height: $largeTray;

		.tray {
			flex-direction: row;
		}
	}

	&.chair-left {
		left: 0;

		border-left-width: 0;
		border-radius: 0 $radius $radius 0;

		.trays {
			flex-direction: column-reverse;
		}
	}

	&.chair-right {
		right: 0;

		border-right-width: 0;
		border-radius: $radius 0 0 $radius;

		.trays {
			flex-direction: column;
		}

		.player {
			right: 0;
		}
	}

	&.chair-top {
		top: 0;

		border-top-width: 0;
		border-radius: 0 0 $radius $radius;

		.trays {
			flex-direction: row;
		}
	}

	&.chair-player {
		bottom: 0;

		border-bottom-width: 0;
		border-radius: $radius $radius 0 0;

		.trays {
			flex-direction: row-reverse;
		}
	}

	// &.chair-a {
	// 	background: #ffdc00;
	// }

	// &.chair-b {
	// 	background: #7FDBFF; //lightpink;
	// }

	// &.chair-c {
	// 	background: #01FF70;
	// }

	// &.chair-d {
	// 	background: lighten(desaturate(deeppink, 30%), 20%); //#FF851B; //darkseagreen;
	// }

	&.chair-exceeds {
		// background: $color-orange;

		.tile-counter {
			background: $color-orange;
		}
	}

	.player,
	.tray-visibility,
	.tile-counter {
		position: absolute;
		font-size: 12rem;
		padding: 0 5rem;
		line-height: 20rem;
		background: black;
		color: white;
		margin: 3rem;
	}

	.player {
		transition: opacity 1s;

		&.player-unseated {
			opacity: 0.2;
		}
	}

	.tray-visibility {
		bottom: 0;
		right: 0;
		opacity: 0.5;
		cursor: default;

		&.tray-visible,
		&:hover {
			opacity: 1;
		}

		&.tray-visible {
			background: $color-yellow;
			color: black;
		}
	}

	.tile-counter {
		bottom: 0;
		left: 0;
	}
}