.center {
	$smallTray: 30px;
	$largeTray: 64px;

	position: absolute;
	top: $smallTray + $largeTray;
	left: $smallTray + $largeTray;
	bottom: $largeTray + $largeTray;
	right: $smallTray + $largeTray;
	box-shadow: inset 0 0 5px grey;
	background: rgba(0, 0, 0, 0.05);

	.drop-zone {
		position: absolute;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
	}

	.tray {
		position: absolute;
		left: 0px;
		right: 0px;

		&#t1 {
			bottom: 0px;
			height: 40%;
			margin: 5px;
			background: none;
		}

		&#t2 {
			top: 0px;
			height: 60%;
			pointer-events: none;
			opacity: 0.5;
			background: none;
		}
	}

	.transit-area {
		position: absolute;
		z-index: 3;
		top: 0px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		pointer-events: none;

		.transit {
			position: absolute;
			pointer-events: all;

			.tray {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}

			&.transit-0 {
				height: 60px;
				width: 200px;
				bottom: 0;
				left: 50%;
				margin-left: -100px;

				.tray {
					flex-direction: row;
				}
			}

			&.transit-1 {
				height: 200px;
				width: 60px;
				left: 0;
				top: 50%;
				margin-top: -100px;

				.tray {
					flex-direction: column;
				}
			}

			&.transit-2 {
				height: 60px;
				width: 200px;
				top: 0;
				left: 50%;
				margin-left: -100px;

				.tray {
					flex-direction: row;
				}
			}

			&.transit-3 {
				height: 200px;
				width: 60px;
				right: 0;
				top: 50%;
				margin-top: -100px;

				.tray {
					flex-direction: column;
				}
			}
		}
	}
}