@import './ss-variables.scss';

.exit {
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	width: $largeTray + $smallTray;
	height: $largeTray + $smallTray;
	color: black;
	opacity: 0.3;
	font-size: 100px !important;
	cursor: default;
	justify-content: center;
	align-items: center;

	span {
		transform: scale(-3, 3);
	}

	&:hover {
		background: dodgerblue;
		opacity: 1;
		color: white;
	}
}