.menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background: rgba(255, 255, 255, 0.01);

	display: flex;
	justify-content: center;
	align-items: center;

	.menu-body {
		background: white;
		width: 300rem;
		box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
		padding: 20rem;
		text-align: center;
		border-radius: 2rem;

		a {
			display: block;
			// margin-bottom: 20rem;
			text-decoration: none;
			color: grey;
			padding: 5rem;

			// &:last-child {
			// 	margin-bottom: 0;
			// }

			&:hover {
				background: dodgerblue;
				color: white;
			}
		}
	}
}