@import './ss-variables.scss';

$radius: $tileWidth / 10;

.tile {
	position: relative;
	// transform: translateY($tileHeight * 0.1);
	pointer-events: all;

	.tile-side,
	.tile-top {
		z-index: 8;
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: $radius;
		pointer-events: none;
	}

	.tile-side {
		background: darken(burlywood, 10%);
		box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.5);
	}

	.tile-top {
		top: -$tileSide;
		background: ivory; // blanchedalmond;

		display: flex;
		justify-content: center;
		align-items: center;

		.tile-gloss,
		.tile-side-gloss {
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.tile-gloss {
			border-radius: $radius;
			background: linear-gradient(transparent, transparent $tileHeight - ($tileHeight * 0.1), burlywood);
		}

		.tile-side-gloss {
			border-radius: $radius;
			background: linear-gradient(90deg, burlywood, transparent $tileHeight * 0.1, transparent $tileWidth - ($tileHeight * 0.1), burlywood);
			opacity: 0.3;
		}

		.tile-symbol {
			position: absolute;
			width: $tileWidth;
			height: $tileHeight;
			background-size: $tileWidth * 0.8 $tileHeight * 0.8;
			background-repeat: no-repeat;
			background-position: center center;

			&.tile-symbol-dragons-red { background-image: url(/tiles/Chun.svg); }
			&.tile-symbol-dragons-green { background-image: url(/tiles/Hatsu.svg); }
			&.tile-symbol-dragons-white { background-image: url(/tiles/wittedraak.svg); }
			&.tile-symbol-winds-east { background-image: url(/tiles/Ton.svg); }
			&.tile-symbol-winds-north { background-image: url(/tiles/Pei.svg); }
			&.tile-symbol-winds-west { background-image: url(/tiles/Shaa.svg); }
			&.tile-symbol-winds-south { background-image: url(/tiles/Nan.svg); }
			&.tile-symbol-dots-1 { background-image: url(/tiles/Pin1.svg); }
			&.tile-symbol-dots-2 { background-image: url(/tiles/Pin2.svg); }
			&.tile-symbol-dots-3 { background-image: url(/tiles/Pin3.svg); }
			&.tile-symbol-dots-4 { background-image: url(/tiles/Pin4.svg); }
			&.tile-symbol-dots-5 { background-image: url(/tiles/Pin5.svg); }
			&.tile-symbol-dots-6 { background-image: url(/tiles/Pin6.svg); }
			&.tile-symbol-dots-7 { background-image: url(/tiles/Pin7.svg); }
			&.tile-symbol-dots-8 { background-image: url(/tiles/Pin8.svg); }
			&.tile-symbol-dots-9 { background-image: url(/tiles/Pin9.svg); }
			&.tile-symbol-characters-1 { background-image: url(/tiles/Man1.svg); }
			&.tile-symbol-characters-2 { background-image: url(/tiles/Man2.svg); }
			&.tile-symbol-characters-3 { background-image: url(/tiles/Man3.svg); }
			&.tile-symbol-characters-4 { background-image: url(/tiles/Man4.svg); }
			&.tile-symbol-characters-5 { background-image: url(/tiles/Man5.svg); }
			&.tile-symbol-characters-6 { background-image: url(/tiles/Man6.svg); }
			&.tile-symbol-characters-7 { background-image: url(/tiles/Man7.svg); }
			&.tile-symbol-characters-8 { background-image: url(/tiles/Man8.svg); }
			&.tile-symbol-characters-9 { background-image: url(/tiles/Man9.svg); }
			&.tile-symbol-bamboo-1 { background-image: url(/tiles/Sou1.svg); }
			&.tile-symbol-bamboo-2 { background-image: url(/tiles/Sou2.svg); }
			&.tile-symbol-bamboo-3 { background-image: url(/tiles/Sou3.svg); }
			&.tile-symbol-bamboo-4 { background-image: url(/tiles/Sou4.svg); }
			&.tile-symbol-bamboo-5 { background-image: url(/tiles/Sou5.svg); }
			&.tile-symbol-bamboo-6 { background-image: url(/tiles/Sou6.svg); }
			&.tile-symbol-bamboo-7 { background-image: url(/tiles/Sou7.svg); }
			&.tile-symbol-bamboo-8 { background-image: url(/tiles/Sou8.svg); }
			&.tile-symbol-bamboo-9 { background-image: url(/tiles/Sou9.svg); }
			&.tile-symbol-seasons-spring { background-image: url(/tiles/seizoenlente.svg); }
			&.tile-symbol-seasons-summer { background-image: url(/tiles/seizoenzomer.svg); }
			&.tile-symbol-seasons-autumn { background-image: url(/tiles/seizoenherfst.svg); }
			&.tile-symbol-seasons-winter { background-image: url(/tiles/seizoenwinter.svg); }
			&.tile-symbol-flowers-plum { background-image: url(/tiles/flowersplum.svg); }
			&.tile-symbol-flowers-orchid { background-image: url(/tiles/flowersorchid.svg); }
			&.tile-symbol-flowers-chrysanthemum { background-image: url(/tiles/flowerschrysanthemum.svg); }
			&.tile-symbol-flowers-bamboo { background-image: url(/tiles/flowersbamboo.svg); }
		}
	}

	&.tile-hidden {
		.tile-top {
			.tile-symbol {
				display: none;
			}
		}
	}

	&.tile-regular {
		width: $tileWidth;
		height: $tileHeight;

		margin-right: $tileSpacing;
		border-left: 0 solid transparent;

		&:last-child {
			margin-right: 0;
		}

		&.tile-hovered {
			border-left: $tileWidth solid transparent;

			&.tile-disabled {
				border-left: 0;
			}
		}

		&.tile-spaced {
			border-left: $tileWidth / 2 solid transparent;

			&:nth-child(3) {
				border-left: 0 solid transparent;
			}
		}
	}

	&.tile-rotate {
		width: $tileHeight;
		height: $tileWidth;

		margin-top: $tileSpacing;
		border-bottom: 0 solid transparent;

		.tile-top {
			.tile-gloss {
				background: linear-gradient(transparent, transparent $tileWidth - $tileHeight * 0.1, burlywood);
			}

			.tile-side-gloss {
				background: linear-gradient(90deg, burlywood, transparent $tileHeight * 0.1, transparent $tileHeight - ($tileHeight * 0.1), burlywood);
			}
		}

		&.tile-rotate-cw {
			.tile-symbol {
				transform: rotate(90deg);
			}
		}

		&.tile-rotate-ccw {
			.tile-symbol {
				transform: rotate(-90deg);
			}
		}

		&:first-child {
			margin-top: 0;
		}

		&.tile-hovered {
			border-bottom: $tileWidth solid transparent;

			&.tile-disabled {
				border-bottom: 0;
			}
		}

		&.tile-spaced {
			border-top: $tileWidth / 2 solid transparent;

			&:nth-child(3) {
				border-top: 0;
			}
		}
	}

	&.tile-dragged {
		opacity: 0.5;
	}

	&.tile-padding {
		opacity: 0;
		pointer-events: none;
	}

	// &.tile-disabled {
		// filter: grayscale(100%);
	// }
}
