.tile {
	transition: padding 30ms;
	position: relative;

	.tile-graphic {
		pointer-events: none;
		display: flex;
		justify-content: center;
		align-items: center;

		width: 38px;
		height: 58px;

		background: linear-gradient(white, white 1%, ivory 15%, blanchedalmond);

		margin: 0.5px;
		border-radius: 4px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		overflow: hidden;

		.tile-symbol {
			position: absolute;
			background-size: 30px 45px;

			width: 30px;
			height: 45px;

			pointer-events: none;

			&.tile-symbol-dragons-red { background-image: url(/tiles/Chun.svg); }
			&.tile-symbol-dragons-green { background-image: url(/tiles/Hatsu.svg); }
			&.tile-symbol-dragons-white { background-image: url(/tiles/wittedraak.svg); } //Haku

			&.tile-symbol-winds-east { background-image: url(/tiles/Ton.svg); }
			&.tile-symbol-winds-north { background-image: url(/tiles/Pei.svg); }
			&.tile-symbol-winds-west { background-image: url(/tiles/Shaa.svg); }
			&.tile-symbol-winds-south { background-image: url(/tiles/Nan.svg); }

			&.tile-symbol-dots-1 { background-image: url(/tiles/Pin1.svg); }
			&.tile-symbol-dots-2 { background-image: url(/tiles/Pin2.svg); }
			&.tile-symbol-dots-3 { background-image: url(/tiles/Pin3.svg); }
			&.tile-symbol-dots-4 { background-image: url(/tiles/Pin4.svg); }
			&.tile-symbol-dots-5 { background-image: url(/tiles/Pin5.svg); }
			&.tile-symbol-dots-6 { background-image: url(/tiles/Pin6.svg); }
			&.tile-symbol-dots-7 { background-image: url(/tiles/Pin7.svg); }
			&.tile-symbol-dots-8 { background-image: url(/tiles/Pin8.svg); }
			&.tile-symbol-dots-9 { background-image: url(/tiles/Pin9.svg); }

			&.tile-symbol-characters-1 { background-image: url(/tiles/Man1.svg); }
			&.tile-symbol-characters-2 { background-image: url(/tiles/Man2.svg); }
			&.tile-symbol-characters-3 { background-image: url(/tiles/Man3.svg); }
			&.tile-symbol-characters-4 { background-image: url(/tiles/Man4.svg); }
			&.tile-symbol-characters-5 { background-image: url(/tiles/Man5.svg); }
			&.tile-symbol-characters-6 { background-image: url(/tiles/Man6.svg); }
			&.tile-symbol-characters-7 { background-image: url(/tiles/Man7.svg); }
			&.tile-symbol-characters-8 { background-image: url(/tiles/Man8.svg); }
			&.tile-symbol-characters-9 { background-image: url(/tiles/Man9.svg); }

			&.tile-symbol-bamboo-1 { background-image: url(/tiles/Sou1.svg); }
			&.tile-symbol-bamboo-2 { background-image: url(/tiles/Sou2.svg); }
			&.tile-symbol-bamboo-3 { background-image: url(/tiles/Sou3.svg); }
			&.tile-symbol-bamboo-4 { background-image: url(/tiles/Sou4.svg); }
			&.tile-symbol-bamboo-5 { background-image: url(/tiles/Sou5.svg); }
			&.tile-symbol-bamboo-6 { background-image: url(/tiles/Sou6.svg); }
			&.tile-symbol-bamboo-7 { background-image: url(/tiles/Sou7.svg); }
			&.tile-symbol-bamboo-8 { background-image: url(/tiles/Sou8.svg); }
			&.tile-symbol-bamboo-9 { background-image: url(/tiles/Sou9.svg); }

			&.tile-symbol-seasons-spring { background-image: url(/tiles/seizoenlente.svg); }
			&.tile-symbol-seasons-summer { background-image: url(/tiles/seizoenzomer.svg); }
			&.tile-symbol-seasons-autumn { background-image: url(/tiles/seizoenherfst.svg); }
			&.tile-symbol-seasons-winter { background-image: url(/tiles/seizoenwinter.svg); }

			&.tile-symbol-flowers-plum { background-image: url(/tiles/flowersplum.svg); }
			&.tile-symbol-flowers-orchid { background-image: url(/tiles/flowersorchid.svg); }
			&.tile-symbol-flowers-chrysanthemum { background-image: url(/tiles/flowerschrysanthemum.svg); }
			&.tile-symbol-flowers-bamboo { background-image: url(/tiles/flowersbamboo.svg); }
		}
	}

	&.tile-hovered {
		padding: 0 0 0 38px;

		&:nth-child(2) {
			padding: 0;
		}
	}

	&.tile-dragged {
		opacity: 0.3;
	}

	&.tile-disabled {
		opacity: 0.3;
	}

	&.tile-small {
		.tile-graphic {
			width: 16px;
			height: 24px;
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
			border-radius: 2px;
		}
	}

	&.tile-hidden {
		.tile-graphic {
			.tile-symbol {
				display: none;
			}
		}
	}

	&.tile-rotated {
		&.tile-hovered {
			padding: 38px 0 0 0;
		}

		.tile-graphic {
			width: 58px;
			height: 38px;

			.tile-symbol {
				transform: rotate(90deg);
			}
		}

		&.tile-small {
			.tile-graphic {
				width: 24px;
				height: 16px;
			}
		}
	}

	&.tile-blank {
		.tile-graphic {
			.tile-symbol {
				display: none;
			}
		}
	}

	&.tile-spaced {
		border-left: 8px solid transparent;

		&.tile-rotated {
			border-left: 0;
			border-top: 8px solid transparent;
		}
	}
}
