.tray {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.before, .after {
	position: absolute;
	opacity: 0.003;
}

.before {
	background: red;
}

.after {
	background: green;
}

.tray-regular {
	.before, .after {
		top: 0;
		bottom: 0;
		height: 100%;
		width: 50%;
	}

	.before {
		left: 0;
	}

	.after {
		right: 0;
	}
}

.tray-mega {
	.before, .after {
		width: 100%;
	}
}

.tray-rotate {
	.before, .after {
		left: 0;
		right: 0;
		width: 100%;
		height: 50%;
	}

	.before {
		top: 0;
	}

	.after {
		bottom: 0;
	}
}

.tile-count {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 0 5rem;
	background: black;
	color: white;
	font-size: 12rem;
	opacity: 0.5;
	line-height: 20rem;
}