@import './ss-variables.scss';

$radius: $tileWidth / 10;

.tile {
	position: relative;
	margin-top: $tileHeight / 10;

	.tile-graphic {
		pointer-events: none;

		.tile-symbol {
			position: absolute;
			border-radius: $radius;
			background-color: darken(burlywood, 20%);
			box-shadow: 0 $tileHeight / 10 $tileHeight / 10 rgba(0, 0, 0, 0.6);
			z-index: 1;

			&:after {
				content: ' ';

				position: absolute;

				top: -$tileHeight / 5;

				width: $tileWidth;
				height: $tileHeight;
				border-radius: $radius;

				display: block;

				background-size: $tileWidth * 0.8 $tileHeight * 0.8;
				background-repeat: no-repeat;
				background-position: center center;
				background-color: ivory;

				z-index: 2;
			}

			&:before {
				content: ' ';

				position: absolute;

				width: $tileWidth;
				height: $tileHeight;
				border-radius: $radius;

				overflow: hidden;

				top: -$tileHeight / 5;

				// background: linear-gradient(135deg, transparent, transparent 40%, burlywood);
				background: linear-gradient(
					180deg,
					white,
					white $tileHeight * 0.05,
					transparent $tileHeight * 0.15,
					transparent 50%,
					rgba(222, 184, 135, 0.5) 90%,
					rgba(222, 184, 135, 1));

				opacity: 1;

				z-index: 3;
			}

			&.tile-symbol-dragons-red { &:after { background-image: url(/tiles/Chun.svg); } }
			&.tile-symbol-dragons-green { &:after { background-image: url(/tiles/Hatsu.svg); } }
			&.tile-symbol-dragons-white { &:after { background-image: url(/tiles/wittedraak.svg); } }

			&.tile-symbol-winds-east { &:after { background-image: url(/tiles/Ton.svg); } }
			&.tile-symbol-winds-north { &:after { background-image: url(/tiles/Pei.svg); } }
			&.tile-symbol-winds-west { &:after { background-image: url(/tiles/Shaa.svg); } }
			&.tile-symbol-winds-south { &:after { background-image: url(/tiles/Nan.svg); } }

			&.tile-symbol-dots-1 { &:after { background-image: url(/tiles/Pin1.svg); } }
			&.tile-symbol-dots-2 { &:after { background-image: url(/tiles/Pin2.svg); } }
			&.tile-symbol-dots-3 { &:after { background-image: url(/tiles/Pin3.svg); } }
			&.tile-symbol-dots-4 { &:after { background-image: url(/tiles/Pin4.svg); } }
			&.tile-symbol-dots-5 { &:after { background-image: url(/tiles/Pin5.svg); } }
			&.tile-symbol-dots-6 { &:after { background-image: url(/tiles/Pin6.svg); } }
			&.tile-symbol-dots-7 { &:after { background-image: url(/tiles/Pin7.svg); } }
			&.tile-symbol-dots-8 { &:after { background-image: url(/tiles/Pin8.svg); } }
			&.tile-symbol-dots-9 { &:after { background-image: url(/tiles/Pin9.svg); } }

			&.tile-symbol-characters-1 { &:after { background-image: url(/tiles/Man1.svg); } }
			&.tile-symbol-characters-2 { &:after { background-image: url(/tiles/Man2.svg); } }
			&.tile-symbol-characters-3 { &:after { background-image: url(/tiles/Man3.svg); } }
			&.tile-symbol-characters-4 { &:after { background-image: url(/tiles/Man4.svg); } }
			&.tile-symbol-characters-5 { &:after { background-image: url(/tiles/Man5.svg); } }
			&.tile-symbol-characters-6 { &:after { background-image: url(/tiles/Man6.svg); } }
			&.tile-symbol-characters-7 { &:after { background-image: url(/tiles/Man7.svg); } }
			&.tile-symbol-characters-8 { &:after { background-image: url(/tiles/Man8.svg); } }
			&.tile-symbol-characters-9 { &:after { background-image: url(/tiles/Man9.svg); } }

			&.tile-symbol-bamboo-1 { &:after { background-image: url(/tiles/Sou1.svg); } }
			&.tile-symbol-bamboo-2 { &:after { background-image: url(/tiles/Sou2.svg); } }
			&.tile-symbol-bamboo-3 { &:after { background-image: url(/tiles/Sou3.svg); } }
			&.tile-symbol-bamboo-4 { &:after { background-image: url(/tiles/Sou4.svg); } }
			&.tile-symbol-bamboo-5 { &:after { background-image: url(/tiles/Sou5.svg); } }
			&.tile-symbol-bamboo-6 { &:after { background-image: url(/tiles/Sou6.svg); } }
			&.tile-symbol-bamboo-7 { &:after { background-image: url(/tiles/Sou7.svg); } }
			&.tile-symbol-bamboo-8 { &:after { background-image: url(/tiles/Sou8.svg); } }
			&.tile-symbol-bamboo-9 { &:after { background-image: url(/tiles/Sou9.svg); } }

			&.tile-symbol-seasons-spring { &:after { background-image: url(/tiles/seizoenlente.svg); } }
			&.tile-symbol-seasons-summer { &:after { background-image: url(/tiles/seizoenzomer.svg); } }
			&.tile-symbol-seasons-autumn { &:after { background-image: url(/tiles/seizoenherfst.svg); } }
			&.tile-symbol-seasons-winter { &:after { background-image: url(/tiles/seizoenwinter.svg); } }

			&.tile-symbol-flowers-plum { &:after { background-image: url(/tiles/flowersplum.svg); } }
			&.tile-symbol-flowers-orchid { &:after { background-image: url(/tiles/flowersorchid.svg); } }
			&.tile-symbol-flowers-chrysanthemum { &:after { background-image: url(/tiles/flowerschrysanthemum.svg); } }
			&.tile-symbol-flowers-bamboo { &:after { background-image: url(/tiles/flowersbamboo.svg); } }
		}
	}

	&.tile-hidden {
		.tile-graphic {
			.tile-symbol {
				&:after {
					background-image: none;
					background-color: blanchedalmond;
				}
			}
		}
	}

	&.tile-dragged {
		opacity: 0.2;
	}

	&.tile-small {
		margin-top: 1rem;

		.tile-graphic .tile-symbol {
			border-radius: $radius / 2;
			background-color: blanchedalmond;
			box-shadow: 0 $tileHeight / 20 $tileHeight / 20 rgba(0, 0, 0, 0.3);

			&:after {
				display: none;
			}

			&:before {
				display: none;
			}
		}
	}

	&.tile-regular {
		margin-right: 1rem;

		&:last-child {
			margin-right: 0;
		}

		.tile-graphic,
		.tile-graphic .tile-symbol {
			width: $tileWidth;
			height: $tileHeight;
		}

		.tile-symbol {
			right: 0;
		}

		&.tile-spaced {
			.tile-graphic {
				width: $tileWidth * 1.5;
			}
		}

		&.tile-hovered {
			.tile-graphic {
				width: $tileWidth * 2;
			}
		}

		&.tile-small {
			.tile-graphic,
			.tile-graphic .tile-symbol {
				width: $tileWidth / 2;
				height: $tileHeight / 2;
			}
		}
	}

	&.tile-rotate {
		margin-top: 1rem;

		.tile-graphic,
		.tile-graphic .tile-symbol {
			width: $tileHeight;
			height: $tileWidth;
		}

		&.tile-spaced {
			.tile-graphic {
				height: $tileWidth * 1.5;
			}
		}

		&.tile-hovered {
			.tile-graphic {
				height: $tileWidth * 2;
			}
		}

		&.tile-small {
			.tile-graphic,
			.tile-graphic .tile-symbol {
				width: $tileHeight / 2;
				height: $tileWidth / 2;
			}
		}

		.tile-graphic .tile-symbol {
			bottom: 0;

			&:before {
				width: $tileHeight;
				height: $tileWidth;
			}
		}
	}
}
