@import './ss-variables.scss';

.mini-wall {
	position: absolute;
	bottom: 0;
	height: $largeTray;
	width: $largeTray;

	display: none;

	&.wall-end {
		right: 0;
	}

	.tray {
		height: $largeTray;
		background: transparent;
	}
}