body {
	font-family: sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0;
	margin: 0;

	box-sizing: border-box;

	* {
		box-sizing: border-box;
	}
}

.lobby {
	padding: 12px;

	.games {
		padding: 12px;
	}

	.list-game {
		margin-bottom: 8px;
		border: 1px solid black;
		padding: 12px 36px;
	}

	.add-game {
		font-size: 12px;
	}
}

ul {
	li {
		margin-bottom: 8px;
		padding: 4px;

		&.current-player {
			background: rgba(255, 255, 0, 0.5);
		}
	}
}

