body {
	font-family: sans-serif;
}

.tray {
	display: flex;
	flex-direction: row;
	padding: 12px;
	border: 1px dashed black;
	flex-wrap: wrap;
	min-height: 170px;
}

.tray.hovered {
	background: yellow;
}

.tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 11px;
	cursor: pointer;
	padding: 0;

	padding-bottom: 2px;
	background: white;
}

.tile:hover {
	background: rgb(233, 249, 218);
}

.tile .gfx {
	margin-top: -24px;
	font-size: 120px;
}